@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition:.3s ease-in-out;
}

body {
    background: #0c1022;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 40px 10%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    box-shadow: 5px, 5px rgba(0, 0, 0, .3);
}

.header.sticky {
    backdrop-filter: blur(15px);
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-right: auto;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active, 
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 500px;
    margin-left: -30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    background-position: 0 0;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    background-position: 0 0;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;
}

.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    text-decoration: none;
    font-size: 23px;
    color: #fff;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(4) {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before {
   filter: blur(5px);
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}

.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    max-width: 390px;
    object-fit: cover;
    transform: translateX(-10px);
}

span {
    background: linear-gradient(45deg, #f06 10%, #3cf 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 70px 10% 0;
}

.about-img img {
    width: 30vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.about-content {
    width: 700px;
}

.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.about-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.about-content p a {
    text-decoration: none;
    color: #ffb4b4;
    font-weight: 700;
    transition: .2s ease;
}

.about-content p a:hover {
    transform: scale(1.1);
    color: #f06;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 70px 10% 0;
    flex-direction: column;
    padding-bottom: 5rem;
}

.skills .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.skills h2 {
    margin-top: 10rem;
}

.skills-container .skills-box {
    width: 20rem;
    height: 18rem;
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .3);
    text-align: center;
    border-top: .6rem groove #f06;
    border-bottom: .6rem groove #3cf; 
    margin-bottom: 5rem;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.skills-container .skills-box:hover {
    border-top: .6rem groove #3cf;
    border-bottom: .6rem groove #f06;
    transform: scale(1.2);
}

.skills-container .skills-box:nth-child(1) {
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}  

.skills-container .skills-box:nth-child(2) {
    border-top: .6rem groove #3cf;
    border-bottom: .6rem groove #f06;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.5s, 3.5s;
}  

.skills-container .skills-box:nth-child(3) {
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 3s, 4s;
}  

.skills-container .skills-box:hover:nth-child(2) {
    border-top: .6rem groove #f06;
    border-bottom: .6rem groove #3cf;
    transform: scale(1.2);
}

.skills-box svg {
    height: 6rem;
    transition: .3s ease-in-out;
}

.skills-container .skills-box:hover svg {
    transform: scale(1.1);
}

.portfolio {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 200px 10% 0;
    flex-direction: column;
    padding-bottom: 5rem;
}

.portfolio h2 {
    font-size: 2rem;
}

.portfolio img {
    width: 15vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.contact {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 10% 0;
} 

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.contact form {
    max-width: 70vw;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 55vw;
}

.contact form .input-box  input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #0c1022;
    background: #f2f2f2;
    border-radius: .8rem;
    margin: .6rem 0;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .8);
}

.contact form .input-box  input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .butn {
    display: inline-block;
    padding: 1rem 2.4rem;
    background:#0c1022;
    border-radius: .9rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .8);
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    border: 2px solid #f2f2f2;
    transition:.5s ease-in-out;
}

.contact form .butn:hover {
    cursor: pointer;
    background: #3cf;
    border: 2px solid #0c1022;
    color: #0c1022;
}

hr {
    border: 1px solid #f06;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}



.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: 50%;
    border: .2rem solid #fff;
}

.footer-iconTop a:hover {
    border: .2rem solid #f06;
    transform: scale(1.1);
}

.footer-iconTop a i {
    font-size: 1.5rem;
    color: #fff;

}

.footer-iconTop a:hover i {
    color: #f06;
}

#menu-icon {
    font-size: 2.5rem;
    display: none;
}

/*KEY FRAMES ANIMATION*/
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Breacking points*/

@media (max-width: 1258px) {

    .home-img {
        width: 350px;
        height: 350px;
    }
    
    .home-img .glowing-circle::after {
        width: 320px;
        height: 320px;
    }
    
    .glowing-circle .image {
        width: 320px;
        height: 320px;
    }

    .glowing-circle .image img {
        height: 100%;
        object-fit: cover;
    }
    
    .about-content {
        width: 500px;
    }

    .about-img img {
        width: 30vw;
    }

    .skills-container .skills-box {
        width: 15rem;
        height: 13rem;
    }

    .home-content {
        max-width: 400px;
    }

    .contact form .input-box {
        width: 100%;
    }
}

@media (max-width: 1115px) {

    .home-content {
        margin-left: 0;
    }

    .home-sci {
        position: absolute;
        display: flex;
        bottom: 10%;
    }

    .home-sci a {
        margin-right: 1rem;
    }

    .glowing-circle .image img {
        object-fit: cover;
    }
}


@media (max-width: 1320px) {
    .skills-container .skills-box {
        width: 15rem;
        height: 13rem;
    }
    .contact form .input-box  input {
        width: 100%;
    }

    .glowing-circle .image img {
        object-fit: cover;
    }
}

@media (max-width: 1020px) {
    .skills h2 {
        margin-bottom: 4rem;
    }

    .about-content {
        width: 400px;
    }

    .footer {
        padding: 1rem 9%;
    }

    .footer-iconTop a {
        padding: .4rem;
    }

    .footer-iconTop a i {
       font-size: 1.5rem;
    }

    .glowing-circle .image img {
        object-fit: cover;
    }
}

@media (max-width: 866px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #0c1022;
        border-top: .1rem solid rgba(0, 0, 0, .8);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .home .home-content {
        text-align: center;
    }

    .home-img {
        width: 200px;
        height: 200px;
    }
    
    .home-img .glowing-circle::after {
        width: 190px;
        height: 190px;
    }
    
    .glowing-circle .image {
        width: 190px;
        height: 190px;
    }

    .home-sci {
        bottom: 1rem;
    }

    .contact .heading {
        margin-bottom: 1rem;
    }

    .contact form {
        margin-bottom: 8rem;
    }

    textarea {
        height: 150px;
    }

    .skills-container {
        gap: 1rem;
    }

    .skills-container .skills-box{
        margin-bottom: 1rem;
    }

    .about {
        flex-direction: column-reverse;
        padding: 70px  0;
        justify-content: center;
        gap: 3rem;
    }

    .about-content {
        width: 60%;
        margin-top: 2rem;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .portfolio img {
        width: 30vw;
    }

    .glowing-circle .image img {
        object-fit: cover;
    }
}

@media (max-width: 540px) {
    .footer-iconTop a {
    padding: .2rem;
    }

    .footer-iconTop a i {
   font-size: 1.2rem;
    }
    .footer-text p {
        font-size: .5rem;
    }

    .portfolio img {
        width: 30vw;
    }
    
    .glowing-circle .image img {
        object-fit: cover;
    }
}

@media (max-width: 435px) {
    .home-content h1 {
        font-size: 2rem;
    }
    .home-content h3 {
        font-size: 1rem;
    }

    .about-content h1 {
        font-size: 2rem;
    }
    .about-content h3 {
        font-size: 1rem;
    }

    .about-img {
        display: none;
    }

    .skills {
        padding: 0 10% 4rem;
    }

    .skills-container .skills-box {
        width: 10rem;
        height: 10rem;
        gap: .4rem;
    }

    .skills-container .skills-box svg {
        height: 4rem;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .portfolio img {
        width: 30vw;
    }

    .footer-text p {
        font-size: .5rem;
    }

    .footer-iconTop a {
        padding: .2rem;
    }

    .footer-iconTop a i {
       font-size: 1.2rem;
    }

    .glowing-circle .image img {
        object-fit: cover;
    }
}

@media (max-height: 742px) {
    .home-img {
        width: 240px;
        height: 240px;
    }
    
    .home-img .glowing-circle::after {
        width: 230px;
        height: 230px;
    }
    
    .glowing-circle .image {
        width: 230px;
        height: 230px;
    }

    .home {
        gap: .5rem;
        padding-top: .5rem;
    }

    .home-content p {
        margin-bottom: 1rem;
    }

    .glowing-circle .image img {
        height: 100%;
    }
}



